@{
    ViewData["Title"] = "Menu";
}
<div class="container m-2">
    <div class="text-center m-5">
        <h1 class="title">Menu</h1>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <a asp-action="index" class="text-decoration-none">
                <div class="card shadow-sm  menu-card text-center">
                    <img src="~/img/user.png" style="width:250px;height:250px" class="card-img-top img-fluid mx-auto mt-3" alt="User Management">
                    <div class="card-body">
                        <h2 class="card-title text-black d-inline-block">User Management</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a asp-action="index" asp-controller="Subscription" class="text-decoration-none">
                <div class="card shadow-sm  menu-card text-center">
                    <img src="~/img/sub.png" style="width:250px;height:250px" class="card-img-top img-fluid mx-auto mt-3" alt="Subscription Management">
                    <div class="card-body">
                        <h3 class="card-title text-black d-inline-block">Subscription Management</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a asp-action="index" asp-controller="Bill" class="text-decoration-none">
                <div class="card shadow-sm menu-card text-center">
                    <img src="~/img/Bill.png" style="width:250px; height:250px" class="card-img-top img-fluid mx-auto mt-3" alt="Bill Management">
                    <div class="card-body">
                        <h2 class="card-title text-black d-inline-block">Bill Management</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
