@{
    ViewData["Title"] = "Menu";
}
    <style>
        /* Add your custom styles here */
        .menu-card {
            margin-bottom: 20px;
        }

            /* Customize card styles if needed */
            .menu-card img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 15px;
            }
    </style>

   

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card menu-card text-center">
                        <img src="your_image_url" class="card-img-top" alt="User Management">
                        <div class="card-body">
                            <h2 class="card-title text-black">User Management</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card menu-card text-center">
                        <img src="your_image_url" class="card-img-top" alt="User Management">
                        <div class="card-body">
                        <h2 class="card-title text-black">User Management</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card menu-card text-center">
                        <img src="your_image_url" class="card-img-top" alt="User Management">
                        <div class="card-body">
                        <h2 class="card-title text-black">User Management</h2>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
